
<% semantic_form_for [project, story], :html => {:class => "story_form"} do |f| %>
    <%= f.error_messages %>
    <% f.inputs do %>
        <%= render :partial => "inputs", :locals => { :f => f } %>
    <% end %>
    <% f.buttons do %>
        <%#= f.commit_button "Update", :class => '', :style => "padding:15px;" %>
				<li class="update">
				   <%= f.submit "Update", :class => "ui-state-default ui-corner-all ui-state-hover", :style => "padding:5px;" %>
				<li>	      
    <% end %>

		<p style="float:right;">
			<%= link_to "View History", project_story_histories_path(project, story) %> &nbsp;
	    <%= link_to "Delete", project_story_path(project, story), :method => :delete, :confirm => 'Are you sure?' %>
	    
			<%= link_to "<span class='ui-icon ui-icon-arrowreturnthick-1-w'></span> Cancel", edit_project_story_path(project, story, :option => "cancle"), :class => "ui-state-hover ui-corner-all dialog_link remote", :style =>" margin-top:10px;" %>
		</p>
		
<% end %>

<hr/>
<div class="effect ui-corner-all">
	<div id="Story-Task-List_<%= story.id %>">
    <%= render :partial => 'tasks/task_list', :locals => {:story => story, :project => project} %>
  </div>
  
	<% form_for :task, @task, :url => project_story_tasks_path(:story_id => story, :project_id => project.id), :html => {:method => :post, :class => 'remote', :id => "Task-Creation-From"} do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :description, "Add a new task" %><br />
      <%= f.text_area :description, :rows => 1, :class => 'iTextArea ui-corner-all' %>
    </p>
    <p>
      <%= f.submit 'Add Task', :class => 'ui-state-hover ui-corner-all', :style => "padding:5px;" %>
    </p>
  <% end %>  
</div>

<hr/>

<div class="effect ui-corner-all">
	<div id="Comment-List_<%= story.id %>">
	  <%= render :partial => '/comments/comments_list', :locals => {:story => story, :project => project} %>
	</div>
	
		<% form_for :comment, @comment, :url => comments_path(:story_id => story.id, :project_id => project.id), :html => {:class => "remote", :id => "new_comment"} do |f| %>
		<p class="" id="new_comment_errors" style="display:none;"></p>
		  <p>
			  <%= f.label :body, "Comments :" %><br />
	      <%= f.text_area :body, :rows => 5, :style => "width: 100%"%>
			</p>
			<p>
	      <%= f.submit 'Add Comment', :class => 'ui-state-hover ui-corner-all', :style => "padding:5px;" %>
	    </p>	    
		<% end %>
</div>


